@import './base.css'; /* Ensure that base.css is still relevant */

/* Ensure #app is consistent with global styles */
#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
  padding: 0 2rem;
  background-color: var(--background-light);
  color: var(--text-dark);
}

a,
.green {
  text-decoration: none;
  color: var(--el-color-danger);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgb(229 57 53 / 20%); /* Use light red for hover */
  }
}
